API_BASE_URL=/api/v2
APP_ID=de.example.beyond

# ── Deployment (nur für deploy.py) ─────────────────────────────────────────
FTP_HOST=example.de
FTP_USER=username
FTP_PASS=password
FTP_PROJECT_ROOT_PATH=/www/htdocs
