# env vars
.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Firebase and Flutter build artifacts
dart_tool/**/*.json
dart_tool/**/*.hash
dart_tool/**/*.config
dart_tool/**/*.env*

# Firebase configuration files
google-services.json
*.google-services.json
firebase.json
*.firebase.json

# iOS/Swift configuration files
derived_data/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/

# macOS configuration files
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/

# Android configuration files
gradle.properties
gradlew
gradlew.bat

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
